@font-face {
  font-family: "bitfont";
  src: url("bitfont.ttf") format("truetype");
}

body {
  font-family: "bitfont", sans-serif;
  background-color: rgb(30, 31, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto hace que el body tenga el alto de la pantalla */
  margin: 0;
}

a {
  color: rgb(217, 217, 217);
  text-decoration: none; /* Quita subrayado */
  font-size: 24px;
  padding: 10px 20px;
  background-color: rgb(20, 21, 20);
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: rgb(40, 41, 40);
}

a:visited {
  color: rgb(217, 217, 217); /* Mantiene el color aunque ya hayas entrado */
}
